// button
.rts-btn {
    padding: 18px 26px;
    font-family: var(--font-secondary);
    font-size: 16px;
    border-radius: 100px;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    max-width: max-content;
    transition: .3s;

    &.btn-primary {
        background: var(--gradient-primary);
        color: #fff;

        display: flex;
        align-items: center;
        gap: 5px;

        img {
            margin-right: 2px;
        }

        &:hover {
            background: linear-gradient(
        145deg,
        var(--color-secondary) 100%,
        var(--color-primary) 0%
        );
            color: #fff;
        }
    }
}



.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
    border: 1px solid rgba(30, 86, 161, 0.2);
    border-radius: 50%;
    cursor: pointer;
}
